.mainBody {
    height: 100vh;
}

.body {
    border: 1px solid rgb(245, 243, 243);
    height: 80vh;
    width: 70%;
    margin-top: 10vh;
    margin-left: 15%;
    background-color: rgba(236, 243, 243, 0.49);
    border-radius: 5%;
    text-align: center;
}

input {
    width: 90%;
    height: 10%;
    margin-top: 15%;
    border-radius: 25px;
    border: 0.1px solid white;
    /* box-shadow: 8px 8px 4px white; */
    font-size: xx-large;
    font-weight: bolder;
    background-color: white;
    padding: 5%;
    text-align: end;
}

button {
    margin: 3%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: white;
    border: 0.1px solid white;
    color: black;
    font-size: larger;
    font-weight: bolder;
}

#enter {
    width: 130px;
    height: 60px;
    border-radius: 25px;
}

.buttons {
    margin-top: 10%;
    box-shadow: 2px 2px 2px white;
}

.left {
    text-align: left;
}

.foot {
    margin-top: 4%;
}

@media (max-width: 412px) {
    .body {
        margin-left: 5%;
        width: 90%;
        height: 78vh;
    }
}